---
import Planetsnav from "../components/planetsnav.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="styles/main.css" />
    <title>Three.js solar system</title>
  </head>

  <body>
    <Planetsnav />

    <script>
      // @ts-nocheck
      import "/script/solar.js";
    </script>
  </body>
</html>
