---
let ships: any[] = [];
let url: string | null = "https://swapi.dev/api/starships";

while (url) {
  const data = await (await fetch(url)).json();
  ships.push(...data.results);
  url = data.next;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <section>
      <h2>Astro</h2>
      <p>wij hebben {ships.length} starships</p>
      <ul>
        {ships.map((ship) => <li>{ship.name}</li>)}
      </ul>
    </section>
    <script type="module" src="/three.js"></script>
  </body>
</html>
