---
const url = "https://swapi.dev/api/starships/";
const response = await fetch(url);
const data = await response.json();
const ships = data.results;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <p>wij hebben {ships.length}</p>
    <ul>
      {ships.map((ship) => <li>{ship.name}</li>)}
    </ul>
    <script></script>
  </body>
</html>
